.wbdv-content-row{
    height: 100%;
}

/* module list outline */
.wbdv-editor-left-pane {
    height: 100%;
    background-color: #ffffff;
}

.wbdv-editor-topics {
    height: 100%;
    background-color: #6e6e6e;
    padding-top: 5px;
}

.wbdv-editor-content {
    /*#height: 100%;*/
    background-color: #b8babb;
    width: 80%;
    padding-top: 5px;
}

.wbdv-editor-head-title {
    padding-top: 5px;
}

.wbdv-editor-head-title-text {
    display: inline;
    font-weight: lighter;
}

.wbdv-editor-nav-pills .nav-item{
    border: 3px !important;
    border-radius: 0.25rem;
    color: white !important;
    font-weight: lighter;
}

.wbdv-editor-nav-pills .nav-link .disabled{
    color: #6e6e6e;
}
.wbdv-editor-nav-pills > .nav-link > .disabled:hover{
    color: #6e6e6e;
}

.wbdv-editor-nav-pills .nav-link{
    color: white !important;
    font-weight: lighter;
}

.wbdv-editor-nav-pills .nav-item:hover {
    background-color: #6e6e6e;
}

.disabled {
    background: #6e6e6e;
    color: #6e6e6e ;
}

.list-group-item {
    background-color: #6e6e6e !important;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 5%;
}

.navbar-custom {
    background-color: #646464;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link{
    color: #757575;
}

.navbar-custom .nav-item:hover .nav-link{
    color: rgba(255,255,255,.5);
}

.navbar-custom .nav-link.active {
    background-color: #0077ff;
    color: #757575;
}

.navbar .navbar-custom {
    padding: 0px;
}

.navbar-custom .nav-item:hover {
    background-color: #464646;
}

a .wbdv-editor-nav-pills{
    color: #757575;
}

.wbdv-editor-nav-pills {
    margin-top: 1.0rem;
    background-color: #464646;
}

.list-group-item {
    margin: 5px;
}

.wbdv-editor-nav-pills.lesson-tabs-editable-item{
    align-items: center;
}